{% extends 'base.html.twig' %}

{% block title %}A propos de - {{ parent() }}{% endblock %}

{% block body %}


<div class="container about col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{{ asset('img/about/1.jpg') }}"  class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 mb-5">A propos de nous</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores dicta distinctio dolores dolorum eaque earum expedita facere id ipsum iure magnam magni minima molestiae natus non optio provident qui quis quos repudiandae saepe sed similique, veniam voluptatum! Quo, tenetur!</p>
            <div class="mt-5 d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-outline-primary btn-lg px-4"><a href="{{ path('app_home') }}">Accueil</a></button>
                <button type="button" class="btn btn-outline-primary btn-lg px-4"><a href="{{ path('app_paintings') }}">Galerie</a></button>
            </div>
        </div>
    </div>
</div>

{% endblock %}