{% block slider %}
<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for slide in slider %}
                <div class="carousel-item active c-item">
                    <img class="d-block w-100 c-img" src="{{ asset('img/slider/' ~ slide.imageName) }}" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 class="lead fw-bold">Galerie Maudoux</h1>
                        <h2 class="text-uppercase lead">Découvrez l'art que vous aimez</h2>
                    </div>
                </div>
         {% endfor %}
            </div>
        </div>
    {% endblock %}


