{% extends 'base.html.twig' %}

{% block title %}Admin - Edit {% endblock %}
{% block body %}
    <main class="container-edit">
        <div class="row">
            <h2 class="offset-1 display-5 my-5">Modifier l'article</h2>
            <div class="col-md-8 offset-2">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-outline-secondary">Modifier l'article</button>
                <a href="{{ path('admin') }}" class="btn btn-outline-dark">Retour aux oeuvres</a>
                {{ form_end(form) }}
            </div>
        </div>
    </main>
{% endblock %}