{% apply inline_css %}
    <style>
        main {
            border: #cfa477 solid 1px;
            padding: 2rem;
            font-family: "Dubai Light", sans-serif;
            margin: .5rem;
        }

        h3 {
            color: #cfa477;
            font-size: 1.3rem;
            text-transform: uppercase;
            margin-top: 1rem;
        }

        p {
            color: rgba(19, 18, 18, 0.87);
            font-size: 1.2rem;
        }
    </style>
{% endapply %}

<main>
    <h3> De : </h3>
    <p>{{ lastName }} {{ firstName }}</p>

    <h3> Sujet : </h3>
    <p> {{ title }}</p>

    <h3> Message : </h3>
    <p> {{ message | raw}} </p>
</main>



